.Tile {
    width: 560px;
    height: 300px;
    border: 1px solid rgb(59, 69, 78);
    margin-bottom: 40px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.34);
    display: flex;
    flex-direction: row;

    span{
        border: 1px solid red;
    }

    .Image {

    }

    .Info {
        .Tile {

        }
        .Text {

        }
    }
}