.Section {
    max-width: 650px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 120px;

    p {
        line-height: 150%;
        text-align: justify;
        margin: 2em 45px;
    }

    h1, h2 {
        margin: 1em 45px;
    }
}